@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  nav a {
    @apply flex flex-col items-center gap-[1px];
  }
  nav a p {
    @apply font-Roboto text-[9px] font-[500] tracking-[-2%] opacity-50;
  }
  nav .active p {
    @apply opacity-100;
  }

  .tasks .task {
    @apply w-full flex items-center justify-between gap-[10px];
  }
  .tasks .task img {
    @apply size-[35px];
  }
  .tasks .task span h6 {
    @apply text-[14px] font-[500] leading-[1.1];
  }
  .tasks .task span {
    @apply flex-1;
  }
  .tasks .task span p {
    @apply text-[10px] opacity-60;
  }
  .tasks .task a {
    @apply h-[21px] w-[40px] rounded-[4px] grid place-items-center text-[10px] font-[500];
  }

  .rankings .rank {
    @apply w-full flex items-center justify-between gap-[10px];
  }
  .rankings .rank span h6 {
    @apply text-[14px] font-[500] leading-[1.1];
  }
  .rankings .rank span {
    @apply flex-1;
  }
  .rankings .rank span p {
    @apply text-[10px];
  }

  .spin-reward-display {
    @apply w-[25%] h-[21px] rounded-[4px] text-[10px] font-[500] grid place-items-center;
  }
}

.dots div:nth-child(1) {
  animation: fade 1s linear infinite 2s;
}
.dots div:nth-child(2) {
  animation: fade 1s linear infinite 3s;
}
.dots div:nth-child(3) {
  animation: fade 1s linear infinite 4s;
}
@keyframes fade {
  100% {
    opacity: 1;
  }
}
